.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
  align-items: center;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.error {
  color: red;
  font-size: 14px;
}
