.topbar {
  background-color: var(--top-bar-color);
  height: var(--top-bar-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menuBars {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  cursor: pointer;
}

.title {
  font-size: 36px;
  margin: 0;
}
