.topbar {
  background-color: var(--top-bar-color);
  height: var(--top-bar-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-shrink: 0;
}

.menuBars {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  background: none;
  cursor: pointer;
}

.title {
  font-size: 50px;
  margin: 0;
}
