.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30vw;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.sliderContainer label {
  width: 110px;
  text-align: right;
}

.errorMessage {
  color: red;
  font-size: 14px;
}
