.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  width: 17%;
  font-size: 80px;
  background-color: #ccc;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
