{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "semi": false,
  "printWidth": 130,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore"
}