.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
}

.errorMessage {
  color: red;
  font-size: 14px;
}
