.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.text {
  margin-top: 10px;
}
