.lastWorkout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.lastWorkoutContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.workout img {
  width: 85%;
  border-radius: 10px;
}
