/* globals.css */

:root {
  /* Button */
  --button-color: #82d7ff;
  --button-text-color: #000000;
  --button-hover-color: #78c6eb;
  --button-text-hover-color: #ffffff;
  --button-active-color: #91d2f0;

  --button-disabled-color: #dddddd;
  --button-disabled-text-color: #aaaaaa;
  --button-disabled-hover-color: #cccccc;

  /* Top Bar */
  --top-bar-color: #8b5e3c;
  --top-bar-height: 110px;

  /* Side Bar */
  --side-bar-color: #dfe0df;
  --side-bar-width: 250px;

  /* Background */
  --background-color: #baa89b;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #3c2f2f;
  background-color: var(--background-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
