/* globals.css */

:root {
  /* Button */
  --button-color: #aa7248;
  --button-text-color: #000000;
  --button-hover-color: #92633f;
  --button-text-hover-color: #ffffff;
  --button-active-color: #a7724a;

  --button-disabled-color: #dddddd;
  --button-disabled-text-color: #aaaaaa;
  --button-disabled-hover-color: #cccccc;

  /* Top Bar */
  --top-bar-color: #8b5e3c;
  --top-bar-height: 110px;

  /* Side Bar */
  --side-bar-color: #dfe0df;
  --side-bar-width: 250px;

  /* Background */
  --background-color: #baa89b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #3c2f2f;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#main-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
